<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/login.css">

	<title>login</title>
</head>
<body>
	<div class="container">
		<ul class="login-methods-list">
			<li>
				<a href="">
					<img src="img/facebook.svg" alt="">
				</a>
			</li>
			<li>
				<a href="">
					<img src="img/google.svg" alt="">
				</a>
			</li>
			<li>
				<a href="">
					<img src="img/vk.svg" alt="">
				</a>
			</li>
<!-- 			<li>
				<a href="">
					
				</a>
			</li> -->
		</ul>
	</div>
</body>
</html>