<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login methods</title>

	<link rel="stylesheet" href="css/login-methods.css">
</head>
<body>
	<div class="container">
		<h1>
			Виберіть метод входу
		</h1>

		<div class="row">
			<a class="login-method vk" href="/auth/vk">
				<img src="img/vk.svg" alt="vk logo">
			</a>

			<a class="login-method google" href="/auth/google">
				<img src="img/google.svg" alt="google logo">
			</a>
		</div>

		<div class="row">
			<a class="login-method local" href="#">
				<img src="img/local.svg" alt="lock icon">
			</a>

			<a class="login-method facebook" href="/auth/facebook">
				<img src="img/facebook.svg" alt="faebook logo">
			</a>
		</div>
	</div>



</body>
</html>